@{
    ViewData["element-id"] = "logo";

    string applicationName = "Fitness Frog";
    

    Func<string> GetAddEntryButtonVisibility = () =>
    {
        string currentController = ViewContext.RouteData.Values["controller"] as string ?? string.Empty;
        string currentAction = ViewContext.RouteData.Values["action"] as string ?? string.Empty;

        if (currentController.Equals("Entries") && currentAction.Equals("Add"))
        {
            return "hidden";
        }

        return "visible";
    };
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FitnessFrog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/air-datepicker@3.4.0/air-datepicker.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/FitnessFrog.styles.css" asp-append-version="true" /> *@
</head>
<body>
    <header class="navbar navbar-inverse navbar-fixed-top">
        <div class="container layout-fix">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" asp-area="" asp-controller="Entries" asp-action="Index">
                    <partial name="../Shared/_Logo" view-data="ViewData" />
                    @applicationName
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
                <a class="btn btn-primary navbar-btn navbar-right"
                        style="visibility: @GetAddEntryButtonVisibility()"
                        asp-area="" asp-controller="Entries" asp-action="Add">
                        <span class="glyphicon glyphicon-plus"></span> <span>Add Entry</span>
                </a>
            </div>
        </div>
    </header>
    <div class="container body-content">
        @* <main role="main" class="pb-3">
        </main> *@
        @RenderBody()
    </div>
    <footer>
        @{ ViewData["element-id"] = "footer_logo"; }
        <partial name="../Shared/_Logo" view-data="ViewData" />
        <p>&copy; @DateTime.Now.Year @applicationName, All Rights Reserved.</p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @* <script src="https://cdn.jsdelivr.net/npm/air-datepicker-en@2.2.5/src/js/air-datepicker.min.js"></script> *@
    <script src="https://cdn.jsdelivr.net/npm/air-datepicker@3.4.0/air-datepicker.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>

        const localeEn = {
            days: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
            daysShort: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
            daysMin: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
            months: ['January','February','March','April','May','June', 'July','August','September','October','November','December'],
            monthsShort: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
            today: 'Today',
            clear: 'Clear',
            dateFormat: 'mm/dd/yyyy',
            timeFormat: 'hh:ii aa',
            firstDay: 0
        };

        let options = {
            locale: localeEn
        };
        let date = new AirDatepicker('input.datepicker', options);
    </script>
</body>
</html>
